@charset "UTF-8";
* { margin: 0; padding: 0; box-sizing: border-box; /* 드래그나 더블클릭 시에 텍스트가 선택이 되지 않도록 설정 */
 -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; } 
span { color: #fff; } 
.swiper-pagination { color: #fff; } 
.sp { position: absolute; left: -9999999999px; } 
body { line-height: 1; color: #333; font-family: 'Pretendard'; font-weight: 400; } 
a { text-decoration: none; color: inherit; } 
li { list-style: none; } 

/* common */
.inner { width: 1440px; margin: 0 auto; } 
.inner h3 { margin-bottom: 20px; } 
section .title { margin-bottom: 40px; } 
section .title h3 { font-size: 50px; } 
section .title p { font-size: 20px; margin-bottom: 10px; } 
#fp-nav ul li .fp-tooltip { color: #333; font-size: 20px; text-shadow: -1px 0 #fff , 1px 0 #fff , 0 -1px #fff , 0 1px #fff; } 
#fp-nav ul li a span, .fp-slidesNav ul li a span { background: #fff; box-shadow: -1px 0 #333 , 1px 0 #333 , 0 -1px #333 , 0 1px #333; } 
/* 스와이퍼 기본 */
 .swiper { width: 100%; height: 100%; } 

 .swiper-slide { text-align: center; font-size: 18px; background: #fff;
 /* Center slide text vertically */
 display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; } 

 .swiper-slide img { display: block; width: 100%; height: 100%; object-fit: cover; } 
/* 기본설정값 끝 */

/* 섹션별 백그라운드 설정 */
 #section0 { background-color:blanchedalmond; background: url('../img/po02.jpg') center center , no-repeat; } 
 #section1 { background: url('../img/sea.jpg') center center , no-repeat; background-size: cover; } 
 #section2 { background: url('../img/sea3.jpg') center center, no-repeat; background-size: cover; /* 저작권: © Paul Hilton / Greenpeace */}
 #section3 { background: url('../img/sea4.jpg') center center, no-repeat; background-size: cover; } 
 #section4 { background: url('../img/sea5.jpg') center center, no-repeat; background-size: cover; } 
 .wave01 { background: url('../img/wave01.png') repeat-x; position: absolute; bottom: 0; left: 0; width: 6400px; height: 198px; animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite; transform: translate3d(0, 0, 0); z-index: 11; } 
 .wave02 { background: url('../img/wave02.png') repeat-x; position: absolute; bottom: 10px; left: 0; width: 6400px; height: 198px; animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -.125s infinite,
 swell 7s ease -1.25s infinite; } 
 .wave03 { background: url('../img/wave03.png') repeat-x; position: absolute; bottom: 20px; left: 0; width: 6400px; height: 200px; animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -.125s infinite,
 swell 7s ease -1.25s infinite; } 
 @keyframes wave { 
 0% { margin-left: 0; } 
 100% { margin-left: -1600px; } 
 }
 @keyframes swell { 0%, 100% { transform: translate3d(0, -25px, 0); } 
 50% { transform: translate3d(0, 5px, 0); } 
 }

/* .헤더 */
header { width: 100%; height: 100px; position: absolute; top: 0; left: 0; z-index: 10; background-color: rgba(255, 255, 255, 0.308); } 
header .inner { height: 100px; display: flex; justify-content: space-between; align-items: center; } 
header .inner h1 { font-size: 20px; } 
header .inner nav ul { display: flex; font-size: 18px; transition: 1s; } 
header .inner nav ul li { position: relative; padding-left: 100px;}
header .inner nav ul:hover { color: #1b78f2; transition: 0.5s; } 
header .inner nav ul li:nth-of-type(1):hover i { right: -50px; transition: 1s; } 
header .inner nav ul li i { right: -20px; position: absolute; padding-left: 5px; transition: .5s; } 

/* 헤더 끝 */
/* 메인 비주얼 */
.main_visual { background-color: #333; height: 100vh; position: relative; } 
.main_visual img { width: 100%; object-fit: cover; display: block; } 

.main_visual .inner { position: absolute; top: 50%; left: 50%; transform: translate(-50% , -50%); color: #fff; } 
.main_visual .inner p { color: rgba(255, 255, 255, 0.63); font-size: 25px; margin-bottom: 10px; } 
.main_visual .inner h2 { font-size: 70px; } 
.main_visual .a1 { position: absolute; bottom: 200px; left: 60%; cursor: pointer; transition: 3s; transform-origin: 50% 150px; } 
.main_visual .a1 img { width: 150px; object-fit: cover; display: block; } 
/* 메인 비주얼 끝 */
/* .cont01 영상편집 */
.cont01 { background-color: antiquewhite; overflow: hidden; } 
.cont01 .inner { position: relative; opacity: 0; transition: 2s; } 
.cont01:hover .inner { opacity: 1; } 
/* 물고기 */
.fish { position: absolute; } 
#fish1 { background: url('../img/fish01.svg') center center, no-repeat; background-size: cover; width: 135px; height: 120px; top: 10px; left: -100px; animation: move3 10s infinite; z-index: 79; } 
#fish2 { background: url('../img/fish02.svg') center center, no-repeat; background-size: cover; width: 100px; height: 50px; top: 10%; right: -60px; animation: move4 11s infinite; z-index: 79; } 
#fish3 { background: url('../img/fish03.svg') center center, no-repeat; background-size: cover; width: 100px; height: 50px; bottom: 20%; left: -100px; animation: move3 15s infinite; z-index: 79; } 
#fish4 { background: url('../img/fish04.svg') center center, no-repeat; background-size: cover; width: 80px; height: 60px; bottom: 10%; left: 50%; transform: translateX(-50%); animation: move2 9s infinite; z-index: 79; } 
#fish5 { background: url('../img/dolphin.svg') center center, no-repeat; background-size: cover; width: 410px; height: 150px; top: 50%; right: -300px; animation: move5 10s infinite; z-index: 1; } 
#fish6 { background: url('../img/snag.svg') center center, no-repeat; background-size: cover; width: 415px; height: 225px; top: 30%; left: -400px; animation: move1 20s infinite; z-index: 0; } 
@keyframes move1 { 
 0% { transform: translatex(10px); } 
 100% { transform: translate3d(1500px, -510px, 150px); } 
 }
@keyframes move2 { 
 0% { transform: translate3d(0, 150px, 100px); } 
 50% { transform: translate3d(200px, -300px, 300px); } 
 100% { transform: translate3d(1200px, -400px, -300px); } 
 }
@keyframes move3 { 
 0% { transform: matrix(100px); } 
 100% { transform: translateX(2100px); } 
 }
@keyframes move4 { 
 0% { transform: translateX(50px); } 
 100% { transform: translateX(-2100px); } 
 }
@keyframes move5 { 
 0% { transform: translateX(100px); } 
 35% { transform: translate3d(-500px, -100px, 400px); } 
 100% { transform: translate3d(-1500px, 500px, 600px); } 
 }

.cont01 .inner .title { margin-bottom: 20px; /* text-shadow: -1px 0 #fff , 1px 0 #fff , 0 -1px #fff , 0 1px #fff; */

 color: #fff; text-shadow: -1px 0 #333 , 1px 0 #333 , 0 -1px #333 , 0 1px #333; } 
.cont01 .motion_menu { display: inline-block; } 
.cont01 .motion_menu ul { position: relative; display: flex; align-items: center; width: 600px; margin-bottom: 20px; background-color: #fff; height: 40px; border: 1px solid #ccc; border-radius: 40px; } 
.cont01 .motion_menu ul li { text-align: center; width: 120px; font-size: 14px; cursor:pointer; } 
.cont01 .motion_menu ul .bar { width: 120px; position: absolute; left: 0; background-color: #2291f2; height: 100%; border-radius: 40px; transition: 1s; } 
.cont01 .motion_menu ul li.on { z-index: 1; color: #fff; transition: 1.5s; } 
.cont01 .mySwiper { display: none; } 
.cont01 .mySwiper.on { display: block; } 
.cont01 .mySwiper .item { width: 1440px; display: flex; justify-content: space-between; background-color: #1b78f2cc; border-radius: 30px; } 
.cont01 .mySwiper .item .pc_youtube { width: 52.5%; height: 90%; position: relative; margin: 18px auto; } 
.cont01 .mySwiper .item .pc_youtube img { height: auto; } 
.cont01 .mySwiper .item .pc_youtube .youtube { position: absolute; top: 22px; left: 25px; width: 93.5%; display: block; } 
.cont01 .mySwiper .item .pc_youtube .youtube > div { width: 100%; padding-bottom: 56.25%; position: relative; } 
.cont01 .mySwiper .item .pc_youtube .youtube > div iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; } 
.swiper-slide { background: none; } 
.cont01 .mySwiper .item .info { margin: 18px auto; width: 42.5%; text-align: left; color: #fff; text-shadow: -1px 0 #333 , 1px 0 #333 , 0 -1px #333 , 0 1px #333; /* color: #333; */
/* text-shadow: -1px 0 #fff , 1px 0 #fff , 0 -1px #fff , 0 1px #fff; */}
.cont01 .mySwiper .item .info > strong { display: block; margin-bottom: 20px; font-weight: 500; } 
.cont01 .mySwiper .item .info h4 { font-size: 34px; } 
.cont01 .mySwiper .item .info p { font-size: 20px; border-top: 1px solid #ccc; margin-top: 20px; padding-top: 20px; line-height: 1.4; } 

.cont01 .mySwiper .item .info .text { margin: 115px 0 30px; margin-bottom: 45px; } 
.cont01 .mySwiper .item .info .text li { line-height: 1.6; } 
.cont01 .mySwiper .item .info .btn { display: flex; } 
.cont01 .mySwiper .item .info .btn li { height: 40px; line-height: 40px; border-radius: 40px; background-color: lightskyblue; color: #fff; margin-right: 15px; text-shadow: none; } 
.cont01 .mySwiper .item .info .btn li:nth-of-type(2) { color: #333; background-color: #fff; border: 1px solid #ccc; } 
.cont01 .mySwiper .item .info .btn li a { padding: 0 25px; } 
/* 안쪽 화살표 */
.swiper-button-prev, .swiper-rtl .swiper-button-next { left: 56.2%; color: #fff; transition: 1s; } 
.swiper-button-prev:hover, .swiper-rtl .swiper-button-next { color: #88f2f2; } 
.swiper-button-next, .swiper-rtl .swiper-button-prev { color: #fff; transition: 1s; right: 15px;}
.swiper-button-next:hover, .swiper-rtl .swiper-button-prev { color: #88f2f2; } 
/* cont01 끝 */
/* .cont03 웹사이트 */
.fp-arrow.fp-prev { border: none; } 
.fp-arrow.fp-next { border: none; } 
.fp-next { right: 100px; } 
.fp-arrow.fp-next::before { position: absolute; font-size: 50px; font-family: 'xeicon'; content: "\e93e"; } 
.fp-arrow.fp-prev::before { font-size: 50px; font-family: 'xeicon'; content: "\e93b"; } 
.cont03 {/* width: calc(100% - 300px); margin: 200px auto; */
 background-color: #eee;}
.cont03 video { width: 100%; object-fit: cover; display: block; position: absolute; top: 0; left: 0; } 
.cont03 .title { margin-bottom: 15px; } 
.cont03 .title h3 { font-size: 23px; font-weight: 700; text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff; } 
.cont03 .title p { font-weight: 500; font-size: 16px; text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff; } 
.cont03 .list { height: 85vh; display: flex; justify-content: space-between; } 
.cont03 .list .item { margin-right: 10px; width: 500px; height: 100%; position: relative; overflow: hidden; } 
.cont03 .list .item::before { width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); content: ''; position: absolute; bottom: -100%; left: 0; transition: 0.5s; } 
.cont03 .list .item:hover::before { bottom: 0; } 
.cont03 .list .item img { width: 100%; height: 100%; object-fit: cover; display: block; }
.cont03 .list .item .info { background-color: rgb(255, 255, 255); position: absolute; bottom: 0; left: 0; font-size: 20px; padding: 50px; word-break: keep-all; transition: 0.5s; } 
.cont03 .list .item:hover .info { background-color: transparent; color: #fff; top: 50%; transform: translateY(-50%); } 
.cont03 .list .item:hover .info a { color: #333; } 
.cont03 .list .item .info h4 { font-family: 'Pretendard-Bold'; font-size: 30px; } 
.cont03 .list .item .info p { margin: 7px 0 20px; line-height: 1.4; } 
.cont03 .list .item .info .text { margin: 5px 0; } 
.cont03 .list .item .info .btn { display: flex; margin-top: 40px; } 
.cont03 .list .item .info .btn li { margin-right: 10px; background-color: #eee; border-radius: 40px; } 
.cont03 .list .item .info .btn li a { height: 45px; padding: 0 40px; display: block; line-height: 45px; font-size: 14px; } 
.cont03 .list .item .info .btn li:hover { background-color: #88f2f2; } 
.cont03 .slide .tb { width: 100px; height: 100px; } 
.cont03 .slide .tb img { width: 100%; height: 100%; } 
#tb1 { position: absolute; top: 250px; right: 45%; animation: tb 10s 1s infinite alternate; } 
#tb2 { position: absolute; top: 400px; right: 30%; animation: tb 8s 1s infinite alternate; } 
#tb3 { position: absolute; top: 300px; right: 5%; animation: tb 9s 1s infinite alternate; } 
@keyframes tb { 
 0% { transform: translateY(0); } 
 100% { transform: translateY(300px); } 
 }
/* 콘트 3 끝 */
/* .cont04 그래픽 디자인 */
/* 물방울 출처 */
/* <a href="https://www.brusheezy.com/">Brusheezy.com</a>의 무료 Photoshop 브러시 */
.cont04 { position: relative; overflow: hidden; } 
.cont04 .title { position: absolute; top: 100px; left: 50%; transform: translateX(-50%); text-align: center; color: #fff; width: 1440px; height: 100px; line-height: 1.2; text-shadow: 1px 1px 1px #000; } 
.cont04 .title h3 { font-size: 30px; font-weight: 500; } 
.cont04 .title p { font-size: 18px; font-weight: 400; color: rgba(255, 255, 255, 0.678); } 
.cont04 .list a { width: 275px; } 
.cont04 .list a img { width: 100%; height: 250px; /* object-fit: cover; */
 display: block; } 
.cont04 .list .info { background-color: #fff; padding: 20px 10px; } 
.cont04 .list a:hover .info { transition: 1s; background-color: #1b78f2; color: #fff; } 
.cont04 .list a .info h4 { font-size: 20px; margin-bottom: 7px; } 
.bb { position: absolute; z-index: 1; bottom: -110%; left: 0; transition: 2s; } 
.cont04:hover .bb { animation: bb 3s; } 
.bb img { width: 1920px; object-fit: cover; } 
@keyframes bb { 
 0% { bottom: -100%; opacity: 1; } 
 100% { bottom: 100%; opacity: 0; } 
 }
.di { position: absolute; animation: line 3s infinite alternate; } 
@keyframes line { 
 0% { transform: translateY(-25px); } 
 100% { transform: translateY(25px); } 
 }
#di1 { top: 200px; left:-100%; transition: 1.1s; } 
.cont04:hover #di1 { left: 235px; } 
#di2 { top: 100%; left: 530px; transition: 1.3s; } 
.cont04:hover #di2 { top: 449px; } 
#di3 { bottom: 100%; left: 42.85%; transition: 1.5s; } 
.cont04:hover #di3 { bottom: 400px;}
#di4 { top: 100%; right: 530px; transition: 1.3s; } 
.cont04:hover #di4 { top: 449px; } 
#di5 { top: 200px; right: -100%; transition: 1.1s; } 
.cont04:hover #di5 { right: 235px; } 
/* cont05 나의소개 */
.cont05 { position: relative; overflow: hidden; } 
.cont05 .inner { position: absolute; top: -100%; left: 50%; transform: translateX(-50%); opacity: 0; transition: 1s; } 
.cont05:hover .inner { opacity: 1; top: 0; } 
.cont05 .inner .sptv { position: relative; width: 1440px; height: 100vh; z-index: 1; } 
.cont05 .inner .sptv img { width: 100%; height: 100%; object-fit: cover; display: block;}
.cont05 .inner2 { width: 1050px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: rgba(255, 255, 255, 0.9); height: 920px; padding-top: 100px; } 
.cont05 .title { width: 1050px; margin: 0 auto 15px; padding-left: 100px; } 
.cont05 .info { display: flex; justify-content: center; align-items: center; padding-left: 100px; } 
.cont05 .info .info_img { width: 30%; height: 400px; } 
.cont05 .info .info_img img { width: 100%; height: 100%; display: block; } 

.cont05 .info .text { margin: 0 auto; width: 70%; } 
.cont05 .info .text ul { display: flex; flex-wrap: wrap; font-size: 20px; margin-bottom: 20px; margin: 20px auto; padding-left: 50px; } 
.cont05 .info .text ul li { line-height: 1.4; } 
.cont05 .info .text ul li strong { display: inline-block; width: 180px; } 

.cont05 .inner2 .list { display: flex; flex-wrap: wrap; width: 800px; margin: 20px 100px; } 
.cont05 .inner2 .list li img { width: 50px; height: 50px; object-fit: cover; display: block; margin-right: 15px; } 
.cont05 .inner2 .skill { display: flex; flex-wrap: wrap; width: 800px; margin: 0 100px; } 
.cont05 .inner2 .skill .v { /* background-color: orange; */
 color: #fff; height: 50px; line-height: 50px; padding: 0 30px; background-color: #2291f2; border-radius: 40px; font-size: 16px; margin-right: 10px; margin-bottom: 5px; } 
/* cont 끝 */

/* footer */
.fp-watermark a { display: none; } 
.pika a { padding: 0 15px; border-radius: 50px; background-color: #ccc; color: #333; text-decoration:none; } 
#footer { color: #fff; text-align: center; } 

#footer ul { width: 600px; margin-bottom: 50px; position: absolute; top: 25%; left: 42%; transform: translate(-50% , -25%); display: flex; justify-content: space-between; } 
#footer ul li { height: 50px; line-height: 50px; width: 200px; background-color: #fff; color: #1b78f2; margin: 10px auto; border-radius: 40px; } 
#footer ul li:hover { background-color: #1b78f2; color: #fff; } 
#footer ul li:nth-of-type(2) { background-color: #333; color: #88f2f2; /* text-shadow: -1px 0 #333 , 1px 0 #333 , 0 -1px #333 , 0 1px #333; */
}
#footer ul li:nth-of-type(2):hover { background-color: #88f2f2; color: #1b78f2; text-shadow: none; } 
#footer ul li a { display: block; } 
#footer .pika { position: absolute; left: 42%; bottom: 40px; transform: translateX(-50%); } 
#footer p { margin-bottom: 10px; font-size: 14px; color: rgb(255, 255, 255); line-height: 1.4; } 
footer { position: fixed; bottom: -100%; left: 0; width: 100%; height: 300px; transition: 1s; } 
footer .inner { position: relative; width: 100%; height: 300px; } 
footer .inner .inn { width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 81; } 
footer .inner .inn .sona2 { cursor: pointer; position: absolute; top: 10px; left: 50px; } 
footer .inner .inn .sona2 .so1 { position: relative; } 
footer .inner .inn .sona2 .so1 > img { display: block; height: 280px; width: 280px; } 
footer .inner .inn .sona2 .so2 { position: absolute; top: 15px; left: 46.5%; transform: translateX(-50%); } 
footer .inner .inn .sona2 .so2 img { height: 123px; display: block; animation: spin 3s infinite linear; transform-origin: 100% 123px; } 
footer .fimg img { width: 100%; display: block; object-fit: cover; border-radius: 200px 200px 0 0; } 
.dio { position: absolute; left: 180px; bottom: -45px; width: 150px; height: 150px; cursor: pointer; margin-left: 50px; z-index: 80; opacity: 0.5; transition: 1s; } 

.dio:hover { opacity: 1; transition: 1s; } 
.sona { position: absolute; bottom: 50px; width: 150px; height: 150px; cursor: pointer; margin-left: 50px; z-index: 80; } 
.sona::before { content: 'CLICK!'; color: #fff; position: absolute; bottom: 20px; left: 50%; transform: translate(-50%); z-index: 82; transition: 0.5s; } 
.sona:hover::before { color: #88f2f2; } 
.sona .so1 { position: relative; } 
.sona .so1 img { display: block; width: 100%; height: 100%; } 
.sona .so2 { position: absolute; top: 12px; left: 46%; transform: translateX(-50%);}
.sona .so2 img { height: 64px; display: block; animation: spin 3s infinite linear; transform-origin: 100% 64px; } 
@keyframes spin { to { transform: rotate(1turn); } 
 }